<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                  LIBRE
                </div>
                <div class="card-body">
                  <h5 class="card-title">$0<span class="grey"> / mes</span></h5>
                  <p class="card-text">10 usuarios incluidos</p>
                  <p class="card-text">2GB de almacenamiento</p>
                  <p class="card-text">Soporte de correo electronico</p>
                  <p class="card-text">Acceso al centro de ayuda</p>
                  <a href="#" class="btn btn-outline-primary">Registrate Gratis</a>
                </div>
                <!-- <div class="card-footer text-muted">
                  2 days ago
                </div> -->
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                  PRO
                </div>
                <div class="card-body">
                  <h5 class="card-title">$15<span class="grey"> / mes</span></h5>
                  <p class="card-text">20 usuarios incluidos</p>
                  <p class="card-text">10 GB de almacenamiento</p>
                  <p class="card-text">Soporte prioritario por correo electronico</p>
                  <p class="card-text">Acceso al centro de ayuda</p>
                  <a href="#" class="btn btn-primary  btn-lg">Empezar</a>
                </div>
                <!-- <div class="card-footer text-muted">
                  2 days ago
                </div> -->
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                  EMPRESA
                </div>
                <div class="card-body">
                  <h5 class="card-title">$29<span class="grey"> / mes</span></h5>
                  <p class="card-text">30 usuarios incluidos</p>
                  <p class="card-text">15 GB de almacenamiento</p>
                  <p class="card-text">Soporte telefonico y por correo electronico</p>
                  <p class="card-text">Acceso al centro de ayuda</p>
                  <a href="#" class="btn btn-primary  btn-lg">Contáctanos</a>
                </div>
                <!-- <div class="card-footer text-muted">
                  2 days ago
                </div> -->
            </div>
        </div>
    </div>
</div>